.page-header
  %h1
    table_go with download CSV link

.pull-right
  = will_paginate(@books)

= render 'books'

%p
  = link_to('Download as CSV', books_path(format: :csv), class: 'btn btn-primary')

%pre
  = "HAML:\n" + File.read(Rails.root + 'app/views/books/_books.html.haml')
  %br
  \= link_to('Download as CSV', books_path(format: :csv), class: 'btn btn-primary')


%pre
  = "Controller:\n" + File.read(Rails.root + 'app/controllers/books_controller.rb')

