.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
  .container
    %navbar-header
      = link_to('TableGo Example', root_path, class: 'navbar-brand')
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li(class="#{'active' if current_controller?('/$')}")
          = link_to('Basic', root_path)
        %li(class="#{'active' if current_controller?('/books')}")
          = link_to('Download CSV example', books_path)