!!!
%html{:lang => I18n.locale}
  %head
    %title
      TableGo Example
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta{ :name => 'run-env', :content => Rails.env }
    %meta{ name: "description", content: "This is example page for a 'table_go' gem with 'will_paginate' and 'bootstrap-sass'." }
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    - if content_for? :css
      = yield :css
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - if content_for? :javascripts
      = yield :javascripts
    = csrf_meta_tags
    = render(partial: 'layouts/google_analytics.html.erb') if Rails.env.production?

  %body
    = render 'layouts/navigation'

    .container
      = yield

      = render 'layouts/footer'
